<section class="panel panel-default">
  <%= form_for Shout.new do |form| %>
    <%= form.text_area :text, class: "form-control no-border", rows: 2,  placeholder: "Currently accepting shout request..." %>
    <footer class="panel-footer bg-light lter">
      <%= form.submit "Post", class: "btn btn-primary pull-right btn-sm" %>
      <ul class="nav nav-pills nav-sm">
        <li><a href="#"><i class="fa fa-camera text-muted"></i></a></li>
        <li><a href="#"><i class="fa fa-video-camera text-muted"></i></a></li>
      </ul>
    </footer>
  <% end %>
</section>