<section id="content" class="m-t-lg wrapper-md animated fadeInUp">    
  <div class="container aside-xl m-t-lg">

    <%= devise_error_messages! %>

    <section class="m-b-lg">
      <header class="wrapper text-center">
        <strong>Forgot password?</strong>
      </header>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |form| %>
        <form action="index.html">
          <div class="list-group">
            <div class="list-group-item">
              <%= form.email_field :email, autocomplete: :off, autofocus: true, class: "form-control no-border", placeholder: "Email" %>
            </div>
          </div>

          <%= form.submit "Reset Password", class: "btn btn-lg btn-primary btn-block" %>
        </form>
      <% end %>
      
    </section>

  </div><!-- .container -->
</section>