<section>
  <section class="hbox stretch">
    <section id="content">
      <section class="vbox">
        <section class="scrollable padder">
          <div class="container">
            <%= render 'shared/flash' %>
            <%= yield %>
          </div>
        </section>
      </section>
    </section>
  </section>
</section>